* {
    border: none;
    color: black;
    font: 16px Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background: #f7f7f7;
    height: 100vh;
}
.btn {
    appearance: none;
    background: #58abf0;
    height: 50px;
    padding: 0 10px;
    transition: background .3s;
}
.btn:hover {
    background: #399aeb;
    cursor: pointer;
}

/* Header */
header {
    background: #58abf0;
    text-align: center;
}
.h1_big {
    font-size: 50px;
}
.h1_small {
    display: none;
    font-size: 50px;
}

/* Nav */
nav {
    background: #58abf0;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}
.btn.nav {
    background: none;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    text-decoration: none;
}
.btn.nav:hover {
    background: #399aeb;
}
.btn.nav.active {
    background: #399aeb;
}

/* Nav Burger */
.burger {
    display: none;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}
.bar1, .bar2, .bar3 {
    background: black;
    height: 5px;
    margin-top: 5px;
    transition: .3s;
    width: 30px;
}
.clicked .bar1 {
    transform: rotate(-45deg) translate(-7px, 7px);
}
.clicked .bar2 {
    opacity: 0;
}
.clicked .bar3 {
    transform: rotate(45deg) translate(-7px, -7px);
}

/* Main */
main {
    margin: 20px;
    min-height: calc(100% - 198px);
    text-align: center;
}
.content {
    background: #e0e0e0;
    box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.success {
    background: mediumseagreen;
    display: none;
    max-width: 400px;
    padding: 10px;
    width: calc(100% - 20px);
}
.error {
    background: lightcoral;
    display: none;
    max-width: 400px;
    padding: 10px;
    width: calc(100% - 20px);
}

/* Main->Images */
.images {
    margin-bottom: 20px;
    width: 100%;
}
.images > * {
    display: inline-block;
    vertical-align: middle;
}
.image_container {
    height: calc(50% + 4px);
    max-height: 534px;
    max-width: 500px;
    width: calc(50% - 30px);
}
.images .vs {
    font-size: 50px;
    width: 60px;
}
.image_name {
    font-size: 30px;
}
.image {
    height: 100%;
    max-height: 500px;
    max-width: 500px;
    object-fit: contain;
    transition: filter .3s;
    width: 100%;
}
.image:hover {
    cursor: pointer;
    filter: brightness(.9);
}

/* Main->Upload Form */
.upload_dialog {
    background: #e0e0e0;
    display: none;
    left: calc(50% - 170px);
    padding: 20px;
    position: fixed;
    text-align: center;
    top: calc(50% - 124px);
}
.upload_dialog form {
    width: 300px;
}
form div {
    margin-bottom: 20px;
    width: 100%;
}
.background {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}
.input_file {
    display: none;
}
.selected_file {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 170px;
}
.btn.upload.form {
    width: calc(50% - 5px);
}
.btn.upload.form.left {
    margin-right: 10px;
}

/* Main->Table */
.tb {
    background: #fca40d;
    border-collapse: collapse;
    border-spacing: 0;
    display: inline-table;
    max-width: 500px;
    width: 100%;
}
.tb th {
    background: #f09800;
}
.tb tr {
    border-bottom: 1px solid #00000022;
}
.tb thead tr {
    border: none;
}
td, th {
    height: 40px;
}

/* Main->Form */
form {
    display: inline-block;
    max-width: 400px;
    text-align: left;
    width: 100%;
}
input[type="text"], input[type="password"] {
    appearance: none;
    height: 50px;
    margin-bottom: 20px;
    padding: 0 10px;
    width: calc(100% - 20px);
}
.btn.form {
    margin: 0;
    width: 100%;
}

/* Footer */
footer {
    background: lightgray;
    box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, 0.2);
    height: 50px;
    text-align: center;
    width: 100%;
}
.copyright {
    line-height: 50px;
}

/* Small View */
@media only screen and (min-width: 0px) and (max-width: 480px) {
    nav {
        position: absolute;
        width: 100%;
    }
    .burger {
        display: inline-block;
    }
    .menu .btn.nav {
        padding: 0;
        width: 100%;
    }
    main {
        margin-top: 70px;
    }
    .image_container {
        width: 100%;
    }
}
@media only screen and (min-width: 0px) and (max-width: 320px) {
    .h1_big {
        display: none;
    }
    .h1_small {
        display: block;
    }
}