* {
    border: none;
    color: black;
    font: 16px Arial, sans-serif;
    margin: 0;
    outline: none;
    padding: 0;
}
body {
    background: #f7f7f7;
    height: 100vh;
}
.btn {
    background: #58abf0;
    height: 50px;
    padding: 0 10px;
    transition: .3s;
}
.btn:hover {
    background: #399aeb;
    cursor: pointer;
}

/* Header */
header {
    background: #58abf0;
    text-align: center;
}
.h1_big {
    font-size: 50px;
}
.h1_small {
    display: none;
    font-size: 50px;
}

/* Nav */
nav {
    background: #58abf0;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}
.btn.nav {
    background: none;
    display: inline-block;
    height: 45px;
    line-height: 50px;
    padding: 0 20px;
    text-decoration: none;
}
.btn.nav:hover {
    background: #399aeb;
}
.btn.nav.active {
    border-bottom: 5px solid #399aeb;
}

/* Nav Burger */
.burger {
    display: none;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}
.bar1, .bar2, .bar3 {
    background: black;
    height: 5px;
    margin-top: 5px;
    transition: .3s;
    width: 30px;
}
.clicked .bar1 {
    transform: rotate(-45deg) translate(-7px, 7px);
}
.clicked .bar2 {
    opacity: 0;
}
.clicked .bar3 {
    transform: rotate(45deg) translate(-7px, -7px);
}

/* Main */
main {
    background: #e0e0e0;
    box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.2);
    margin: 20px 20px 0 20px;
    padding: 20px;
    text-align: center;
}

/* Main->Images */
.images {
    margin-bottom: 20px;
}
.images * {
    display: inline-block;
    vertical-align: middle;
}
.images p {
    font-size: 30px;
    width: 40px;
}
.image1, .image2 {
    max-width: 500px;
    transition: .3s;
    width: calc(50vw - 60px);
}
.image1:hover, .image2:hover {
    cursor: pointer;
    filter: brightness(.9);
}
h2 {
    display: inline-block;
    font-size: 40px;
    height: calc(25vw);
    margin: 0 10px;
    max-height: 280px;
    vertical-align: bottom;
}

/* Main->Upload Form */
.upload_dialog {
    background: #e0e0e0;
    display: none;
    left: calc(50% - 170px);
    padding: 20px;
    position: absolute;
    text-align: center;
    top: calc(50% - 124px);
}
.upload_dialog form {
    width: 300px;
}
form div {
    margin-bottom: 20px;
    width: 100%;
}
.background {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.input_file {
    display: none;
}
.selected_file {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 170px;
}
.btn.upload.form {
    margin: 0;
    margin: 0 5px;
    width: calc(50% - 10px);
}

/* Main->Table */
.tb {
    background: #fca40d;
    border-collapse: collapse;
    border-spacing: 0;
    display: inline-table;
    width: 400px;
}
.tb th {
    background: #f09800;
}
.tb tr {
    border-bottom: 1px solid #00000022;
}
.tb thead tr {
    border: none;
}
td, th {
    height: 40px;
}

/* Main->Form */
form {
    display: inline-block;
    text-align: left;
    width: 400px;
}
input[type="text"], input[type="password"] {
    height: 50px;
    margin-bottom: 20px;
    padding: 0 10px;
    width: calc(100% - 20px);
}
.btn.form {
    margin: 0;
    width: 100%;
}

/* Small View */
@media only screen and (min-width: 0px) and (max-width: 480px) {
    nav {
        position: absolute;
        width: 100%;
    }
    .burger {
        display: inline-block;
    }
    .menu .btn.nav {
        padding: 0;
        width: 100%;
    }
    .menu .btn.nav.active {
        background: #399aeb;
        border: none;
    }
    main {
        margin-top: 70px;
    }
    .image1, .image2 {
        width: 100%;
    }
    .tb {
        width: 100%;
    }
    form {
        width: 100%;
    }
}
@media only screen and (min-width: 0px) and (max-width: 320px) {
    .h1_big {
        display: none;
    }
    .h1_small {
        display: block;
    }
}