* {
    border: none;
    font: 16px Arial, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}
body {
    background: #f6f6f6;
    height: 100vh;
}

/* Header */
header {
    background: #58abf0;
    text-align: center;
}
.h1_big {
    font-size: 50px;
}
.h1_small {
    display: none;
    font-size: 50px;
}

/* Nav */
nav {
    background: #58abf0;
    text-align: center;
}
.btnNav {
    background: none;
    display: inline-block;
    height: 30px;
    padding-top: 20px;
    text-decoration: none;
    width: 100px;
}
.btnNav.active {
    border-bottom: 5px solid #399aeb;
}

/* Main */
main {
    margin: 20px;
}

/* Main->Images */
.images {
    text-align: center;
}
.image1, .image2 {
    background: linear-gradient(to right, #f8b41a, #ff9300);
    display: inline-block;
    height: calc(50vw - 55px);
    max-height: 500px;
    max-width: 500px;
    width: calc(50vw - 55px);
}
h2 {
    display: inline-block;
    font-size: 40px;
    height: calc(25vw);
    margin: 0 10px;
    max-height: 280px;
    vertical-align: bottom;
}



td, th {
    height: 40px;
}
button {
    background: #58abf0;
    height: 50px;
}
button:hover {
    cursor: pointer;
}
.btnUploadImg {
    border-radius: 25px;
    margin-left: 200px;
    min-width: 140px;
    overflow: hidden;
    position: relative;
    transition: ease-in-out .2s;
    width: calc(100% - 400px);
    z-index: 1;
}
.btnUploadImg:hover .bg, .bg:hover {
    opacity: 1;
}
.btnUploadImg:hover {
    border: none;
}
.btnBottom {
    position: absolute;
    top: calc(100vh - 50px);
}
.tb {
    background: #f8b41a;
    border-collapse: collapse;
    border-spacing: 0;
    float: left;
    width: 50%;
}
.tb th {
    background: #ff8e0b;
}
.tb tr {
    border-bottom: 1px solid #00000022;
}
.tb thead tr {
    border: none;
}
@media only screen and (min-width: 0px) and (max-width: 450px) {
    .h1_big {
        display: none;
    }
    .h1_small {
        display: block;
    }
}


.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-left: calc(50% - 70px);
}

.btn {
  border-radius: 25px;
  padding: 8px 20px;
}

.upload-btn-wrapper .inputfile {
  height: 50px;
  width: 150px;
  position: absolute;
  top: 0;
  opacity: 0;
}